@model IOrderedEnumerable<ReefTankCore.Web.Models.CategoryViewModel>

@foreach (var cat in Model)
{
    <li><a href="@Url.Action("Index","Category", new { Area = "", Id = cat.Id})">@cat.Name</a></li>
}
