@using Microsoft.AspNetCore.Identity
@using ReefTankCore.Models.Users
@using ReefTankCore.Services.Context

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    var reefUser = UserManager.GetUserAsync(User).Result;
}

<ul class="nav navbar-nav navbar-left">
    @if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(reefUser, "SystemOwner"))
    {
        <li>
            <a asp-area="Admin" asp-controller="Home" asp-action="Index">Dashboard</a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="User" asp-action="Index">Users</a>
        </li>
    }
    else if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(reefUser, "Administrator"))
    {
        <li>
            <a asp-area="Admin" asp-controller="Home" asp-action="Index">Dashboard</a>
        </li>
    }
    else if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(reefUser, "ReefUser"))
    {
        <li>
            <a asp-area="Reefer" asp-controller="Reef" asp-action="Index">Dashboard</a>
        </li>
    }
</ul>