@model ReefTankCore.Web.Areas.Admin.Models.Creatures.CreatureDetailsModel

@{
    ViewBag.Title = "Creature";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="panel panel-info top-buffer">
        <div class="panel-heading">
            <a href="@Url.Action("Index", "Subcategory", new {Area = "Admin", Id = Model.SubcategoryId})"><i class="glyphicon glyphicon-chevron-left"></i> <strong>@Model.SubcategoryCommonName</strong></a>
            <h2>Edit</h2>
        </div>
        @{Html.RenderPartial("MessageBox");}
        <div class="panel-body">
            @using (Html.BeginForm("Edit", "Creature", FormMethod.Post, new {enctype = "multipart/form-data"}))
            {
                Html.RenderPartial("CreatureForm");
            }
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        $(document).ready(function() {
            $('#filename').val('@Model.FileName');
        });

        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#creature').attr('src', e.target.result);
                    $('#filename').val(input.files[0].name);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imgInp").change(function () {
            readURL(this);
        });
    </script>
}
