@model IList<ReefTankCore.Web.Models.CategoryViewModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Marine Inhabitants</h2>
<div class="container">
    @for (var i = 0; i < Model.Count(); i += 3)
    {
        if (i > Model.Count())
        {
            i = Model.Count();
        }
        <div class="row">
            @{
                var j = 0;
                for (; j <= 2 && i + j < Model.Count(); j++)
                {
                    var category = @Model[i + j];
                    <div class="col-md-4">
                        <div class="category">
                            <a href="@Url.Action("GetSubcategories","Inhabitant", new {Area = "Admin", id = category.Id })">@category.Name</a>
                        </div>
                    </div>
                }
            }

        </div>
    }
</div>