body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.category {
    display: block;
    width: 200px;
    height: 164px;
    background-color: #327ab7;
    border: #337ab7;
    margin: 10px;
}

.top-buffer {
    margin-top: 20px;
}

.logo {
    display: block;
    width: 182px;
    height: 182px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload {
    width: 100%;
}

.desc-area {
    resize: vertical;
    min-height: 250px;
}

li.borderless {
    border: none;
}

td {
    vertical-align: middle;
}
.table > tbody > tr > td {
    vertical-align: middle;
}
/* Rules for sizing the icon. */
.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-21 {
    font-size: 21px;
}

.material-icons.lg-24 {
    font-size: 24px;
}
