@model ReefTankCore.Web.Areas.Admin.Models.Subcategories.SubcategoryFormModel

@{
    ViewBag.Title = "Creature";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="panel panel-info top-buffer">
        <div class="panel-heading">
            <h2>Add new subcategory</h2>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("Edit", "Subcategory", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                Html.RenderPartial("SubcategoryForm");
            }
        </div>
    </div>
</div>

@section Scripts{ 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.7.3/tinymce.min.js"></script>
    <script src="@Url.Content("~/js/tinymce.js")"></script>
}