@model ReefTankCore.Web.Areas.SystemOwner.Models.UserOverviewViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Gebruikers</h2>
<div class="album text-muted">
    <div class="row">
        <div class="container">
            @foreach (var subcategory in Model.Users)
            {
            }
        </div>
    </div>
</div>
<div class="row">
    
</div>